//colors
$nav-blue: #36465d;
$dark-blue: #2d3a4e;
$background-blue: #d2dae6;
$light-blue: #529ecc;
$dark-grey: #565656;
$mid-grey: #8f8f8f;
$light-grey: #ebebeb;
$light-grey2: #f3f3f3;
$light-orange: #ec8524;
//sizes
$sprite-sm: 32px;
$sprite-md:48px;
