.main-navigation {
  height: 4.4rem;
  background-color: $nav-blue;
}

.navbar-collapse {
  z-index: 1;
  background-color: $nav-blue;
}

.main-navigation-item {
  margin: 0 0.5rem;
}

.main-navigation__search {
  min-width: 20rem;
  height: 2.1rem;
  padding-left: 3rem;
  background-color: $dark-blue;
}

.main-navigation__search__icon {
  color: #acaeb1;
  position: relative;
  left: -19rem;
  top: 0.1rem;
}

.main-navigation-item__pen {
  border: solid 0.5rem $light-blue;
  background-color: $light-blue;

  &:hover {
    background-color: $dark-blue;
    border: solid 0.5rem $dark-blue;
  }
}
