.main__dashboard {
  padding: 2.5rem 5%;
}

.border-bottom--grey {
  border-bottom: solid 1px $light-grey;
}

.new__post__options {
  border-radius: 3px;
  padding: 25px 10px 5px 10px;
}

.new__post__options__icon {
  display: block;
  margin-bottom: 5px;
}

.post__unit__content__header {
  border-radius: 3px 3px 0 0;
  padding: 25px 20px 5px 20px;
}

.post__top__btn {
  background-color: transparent;
  margin-left: 5%;
  margin-bottom: 1rem;
}

.post__tags {
  padding: 20px 20px 15px 20px;
}

.post__unit__content__footer {
  border-radius: 0 0 3px 3px;
  padding: 15px 20px 10px 20px;
}

.side__row {
  padding: 20px;
}

.side__row-sm {
  padding: 5px 20px;
}

.sprite__text {

  @include sprite-sm-pos (0);
}

.sprite__photo {

  @include sprite-sm-pos (1);
}

.sprite__quote {

  @include sprite-sm-pos (2);
}

.sprite__link {

  @include sprite-sm-pos (3);
}

.sprite__chat {

  @include sprite-sm-pos (4);
}

.sprite__audio {

  @include sprite-sm-pos (5);
}

.sprite__video {

  @include sprite-sm-pos (6);
}

.sprite__up-pic {

  @include sprite-md-pos (0);
}

.sprite__up-web {

  @include sprite-md-pos (1);
}

.modal-backdrop {
  opacity: 0.8;
  background-color: #556478;
}

.modal-dialog {
  max-width: 570px;
}

.modal-body__btn-photo {
  border: solid 0;
}

.btn--division {
  border-right: solid $light-grey 3px;
}

.modal-body__drag-drop {
  height: 200px;
  background-color: $light-grey2;
}
