@import "vendor/_bootstrap-custom";

$dark-0: #36465d;
$dark-1: #2d3a4e;
$dark-blue: #529ecc;
$grey: #8f8f8f;
$dark-grey: #565656;
$light-grey: #ebebeb;
body{
  background-color: #d2dae6;
}
main{
  padding: 40px 5% 40px 5%;
}
.navbar{
  height: 70px;
  padding: 0;
  background-color: $dark-0;
}
.navbar-collapse{
  z-index: 1;
  background-color: $dark-0;
}
.navbar-brand{
  margin: 0 3rem;
}
.top-search{
  min-width: 21rem;
  height: 2.1rem;
  padding-left: 3rem;
  background-color: $dark-1;
  background-image: url("../assets/img/searchIcon.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 5% center;
}
.nav-item{
  margin: 0 0.5rem;
}
.pen-box{
  width: 2rem;
  height: 2rem;
  margin-top: 0.25rem;
  margin-right: 3rem;
  background-color: $dark-blue;
  background-image: url("../assets/img/pen.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 5px;
}
.post-types{
  border-radius: 3px;
  padding: 25px 10px 5px 10px;
  background-color: white;
}
.post-types__icon{
  margin-bottom: 5px;
  margin-left: 3px;//corregir para centrar auto
}
.post__top{
  background-color: white;
  border-radius: 3px 3px 0 0;
  padding: 25px 20px 5px 20px;
}
.post__top__follow{
  background-color: transparent;
  margin-left: 5%;
  margin-bottom: 1rem;
}
.post__img{
  width: 100%;
}
.post__tags{
  background-color: white;
  padding: 30px 20px 15px 20px;
}
.post__bottom{
  background-color: white;
  border-radius: 0 0 3px 3px;
  padding: 15px 20px 10px 20px;
}
.text--grey{
  color: $grey;
}
.text--dark-grey{
  color: $dark-grey;
}
.text--blue{
  color: $dark-blue;
}
.text--strong{
  font-weight: 700;
}
.text--small{
  font-size: 0.8rem;
}
.b-bottom--grey{
  border-bottom: solid 1px $light-grey;
}
.side-row{
  background-color: white;
  padding: 20px;
}
.side-sm-row{
  background-color: white;
  padding: 5px 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.photo--rz{
  width: 100%;
}

